@model int

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
    <title>Najdi Doktora👨‍⚕️</title>
</head>

<body class="overrideBody">
<div class="fakeNavbar">Najdi doktora</div>
<div class="main-view">
    <div class="main-heading">
        <h2>Logopedická poradna</h2>
    </div>
</div>
</body>