@model CompleteClinic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
    <title>Najdi doktora👨‍⚕️</title>
</head>

<body class="overrideBody">
<div class="fakeNavbar">Najdi doktora</div>
<div class="main-view">
    <div class="main-heading">
        <h2>Logopedická klinika</h2>
    </div>
    <div class="parts">
        <div class="left-side">
            <div class="item">
                <div class="content">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Hradecká 1159/8</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-solid fa-globe"></i>
                    <p>www.google.com</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-solid fa-phone"></i>
                    <p>+420 123 456 789</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-regular fa-clock"></i>
                    <p>Otevřeno nyní</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-regular fa-building"></i>
                    <p>EUC Klinika</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-solid fa-star"></i>
                    <p>4.1 / 5⭐</p>
                </div>
            </div>
        </div>
        <div class="right-side">
            
        </div>
    </div>
</div>
<div class="reviews">
    <div class="heading-review">
        <hr/>
        <h2>Hodnocení🌟</h2>
    </div>
    <div class="review-container">
        <div class="review">
            <div class="review-content">
                <h3>Petr Novák <br/> 4.1 / 5⭐</h3>
                <p>Moc se mi tam líbilo, chtěl bych se tam znovu podívat</p>
            </div>
        </div>
        <div class="review">
            <div class="review-content">
                <h3>Petr Novák <br/> 4.1 / 5⭐</h3>
                <p>Moc se mi tam líbilo, chtěl bych se tam znovu podívat</p>
            </div>
        </div>
        <div class="review">
            <div class="review-content">
                <h3>Petr Novák <br/> 4.1 / 5⭐</h3>
                <p>Moc se mi tam líbilo, chtěl bych se tam znovu podívat</p>
            </div>
        </div>
        <div class="review">
            <div class="review-content">
                <h3>Petr Novák <br/> 4.1 / 5⭐</h3>
                <p>Moc se mi tam líbilo, chtěl bych se tam znovu podívat</p>
            </div>
        </div>
        <div class="review">
            <div class="review-content">
                <h3>Petr Novák <br/> 4.1 / 5⭐</h3>
                <p>Moc se mi tam líbilo, chtěl bych se tam znovu podívat</p>
            </div>
        </div>
        <div class="review">
            <div class="review-content">
                <h3>Petr Novák <br/> 4.1 / 5⭐</h3>
                <p>Moc se mi tam líbilo, chtěl bych se tam znovu podívat</p>
            </div>
        </div>
        <div class="review">
            <div class="review-content">
                <h3>Petr Novák <br/> 4.1 / 5⭐</h3>
                <p>Moc se mi tam líbilo, chtěl bych se tam znovu podívat</p>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://kit.fontawesome.com/b85629988f.js" crossorigin="anonymous"></script>