@using NajdiDoktoraApp.StaticData
@model SearchParams

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Hledání</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="overrideBody">
<div class="fakeNavbar">Najdi doktora</div>
<!---->
<div>
    <form asp-action=SearchFor class="searchPart">
        <input type="text" class="addressBar" rows="1" placeholder="Adresa"/> <!--add  asp-for-->
        <button type="button" class="blueButtonMap">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="28" viewBox="0 0 38 46" fill="none">
                    <path d="M25.8 19C25.8 20.8035 25.0835 22.5331 23.8083 23.8083C22.533 25.0836 20.8034 25.8 19 25.8C17.1965 25.8 15.4669 25.0836 14.1916 23.8083C12.9164 22.5331 12.2 20.8035 12.2 19C12.2 17.1965 12.9164 15.4669 14.1916 14.1917C15.4669 12.9164 17.1965 12.2 19 12.2C20.8034 12.2 22.533 12.9164 23.8083 14.1917C25.0835 15.4669 25.8 17.1965 25.8 19Z" stroke="#FDFDFD" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M36 19C36 35.1885 19 44.5 19 44.5C19 44.5 2 35.1885 2 19C2 14.4913 3.79107 10.1673 6.97918 6.97918C10.1673 3.79107 14.4913 2 19 2C23.5087 2 27.8327 3.79107 31.0208 6.97918C34.2089 10.1673 36 14.4913 36 19Z" stroke="#FDFDFD" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></button>
        <select class="typeBar"><!--add  asp-for-->
            <option>Vyber typ doktora</option>
            @foreach (var item in EnumMapper.ClinicTypeMap)
            {
                <option id="@item.Type" value="@item.ClinicName">@item.ClinicName</option>
            }
        </select>
        <button type="submit" class="blueButtonSearch">Hledat</button>
    </form>
</div> 
<hr class="underline"/>
<div class="results">
    <!--add an a foreach (var item in Model)
    {
        
    }-->
    <div class="individualResult">
        <div class="individualResultTitle">
            Name
        </div>
        <div class="individualResultItems">
            <div class="individualResultText">
                <p>Address</p>
                <p>Phone Number</p>
                <p>Website</p>
                <p>Review Count</p>
                <p>Average Rating</p>
                <p>Distance</p>
            </div>
        </div>
    </div>
    <div class="individualResult">
            <div class="individualResultTitle">
                <a>Name</a>
                <a>Open</a>
            </div>
            <div class="individualResultItems">
                <div class="individualResultText">
                    <p>Address</p>
                    <p>Phone Number</p>
                    <p>Website</p>
                    <p>Review Count</p>
                    <p>Average Rating</p>
                    <p>Distance</p>
                </div>
            </div>
        </div>
</div>
</body>
</html>